extends ../layout

block content
  h1 Switzerland
  #container.col1 
    p.
      Welcome to
      holon ground triple-zero
        
  div.container.column1
    div.jumbotron
      h1= title
      p Welcome to #{title}

  div.container.column2
    div.jumbotron
      h1= title
      p Welcome to #{title}
      
  div.container.column3
    div.jumbotron
      h1= title
      p Welcome to #{title}

  div.container.column4
    div.jumbotron
      h1= title
      p Welcome to #{title}
