extends ../layout

block content

  #container.container

    div.column.span4
      div.jumbotron
        h1= title
        p Welcome to #{title}

    div.column.span4
      div.jumbotron
        h1= title
        p Welcome to #{title}
      
    div.column.span4
      div.jumbotron
        h1= title
        p Welcome to #{title}

    div.column.span4
      div.jumbotron
        h1= title
        p Welcome to #{title}

    div.column.span4
      div.jumbotron
        h1= title
        p Welcome to #{title}

    div.column.span4
      div.jumbotron
        h1= title
        p Welcome to #{title}
      
    div.column.span4
      div.jumbotron
        h1= title
        p Welcome to #{title}

    div.column.span4
      div.jumbotron
        h1= title
        p Welcome to #{title}
