extends ../layout

block content

 #container.container

   #row1.row1

    div.column.span4
      div.jumbotron
        h1= title
        p Welcome to #{title}

    div.column.span4
      div.jumbotron
        h1= title
        p Welcome to #{title}
      
    div.column.span4
      div.jumbotron
        h1= title
        p Welcome to #{title}

    div.column.span4
      div.jumbotron
        h1= title
        p Welcome to #{title}

   #row2.row2

    div.column.span4
      div.jumbotron
        h1= title
        p Welcome to #{title}

    div.column.span8
      div.jumbotron
        h1= title
        p Welcome to #{title}
      
    div.column.span4
      div.jumbotron
        h1= title
        p Welcome to #{title}
    
   #row3.row3
        
    div.column.span4
      div.jumbotron
        h1= title
        p Welcome to #{title}

    div.column.span4
      div.jumbotron
        h1= title
        p Welcome to #{title}
      
    div.column.span4
      div.jumbotron
        h1= title
        p Welcome to #{title}

    div.column.span4
      div.jumbotron
        h1= title
        p Welcome to #{title}
