extends ../layout

block content

 #container.container

   #row1.row1

    div.column.item
      div.mosaicbox
        h2= title
        p Welcome to #{title}

    div.column.item
      div.mosaicbox
        h2= title
        p Welcome to #{title}
      
    div.column.item
      div.mosaicbox
        h2= title
        p Welcome to #{title}

    div.column.item
      div.mosaicbox
        h2= title
        p Welcome to #{title}

   #row2.row2

    div.column.item
      div.mosaicbox
        h2= title
        p Welcome to #{title}

    div.column.itemw2
      div.mosaicbox
        h2= title
        p Welcome to #{title}
      
    div.column.item
      div.mosaicbox
        h2= title
        p Welcome to #{title}
    
   #row3.row3
        
    div.column.item
      div.mosaicbox
        h1= title
        p Welcome to #{title}

    div.column.item
      div.mosaicbox
        h2= title
        p Welcome to #{title}
      
    div.column.item
      div.mosaicbox
        h2= title
        p Welcome to #{title}

    div.column.item
      div.mosaicbox
        h2= title
        p Welcome to #{title}
